
/*
Custom CSS
*/

html, body{
    height: 100%;
    background-color: #f7da64;
    padding-top: 65px;
}

nav{
    background-color: #f7da64;
}

.bg-slowloris{
    background-color: #f7da64;
}

.text-slowloris{
    color: #f7da64 !important;
}

.card {
    transition: box-shadow .2s;

}
.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.introduce-out{
    min-height: 10%;
    background: linear-gradient(
            2deg,
            #f7da64 0%,
            #f7da64 50%,
            #000000 50%,
            #000000 100%);

}

.blur {

    /* Any browser which supports CSS3 */
    filter: blur(5px);
    -webkit-filter: blur(5px);

    /* Firefox version 34 and earlier */
    filter: url("blur.svg#gaussian_blur");

    /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
    -webkit-filter: blur(5px);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

/*
Fontawesome
*/
.fa-1_5x {
    font-size: 1.5em;
}

/*
Gradient Backgrounds
*/

.bg-gradient-mirage{
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-hardgradient-primary{
    background: linear-gradient(
            115deg,
            #f8f9fa 0%,
            #f8f9fa 75%,
            #007bff 75%,
            #007bff 100%);
}

/*
Background
*/
